<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">
			<label>Employee Details</label>
		</h3>
	</div>
	<div class="box-body">
		<table id="employee" ng-table="tableParams1"
			class="table table-hover table-striped table-no-padding no-bottom-margin">
			<tbody>
				<tr>
					<td class="col-lg-6"><label>Name</label></td>
					<td class="col-lg-6">{{matchDetails.user.employeeName}}</td>
				</tr>
				<tr>
					<td><label>Current Job Title</label></td>
					<td>{{matchDetails.user.jobTitleName}}</td>
				</tr>
				<tr>
					<td><label>Employee Leader</label></td>
					<td>{{matchDetails.user.leaderName}}</td>
				</tr>
				<tr>
					<td><label>Current Location</label></td>
					<td>{{matchDetails.user.locationName}}</td>
				</tr>
				<tr>
					<td><label>Relocatable</label></td>
					<td>{{matchDetails.user.relocatable}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>